@font-face {
  font-family: 'vaweb-light';
  src: url('./fonts/vaweb-light.eot');
  src: url('./fonts/vaweb-light.eot') format('embedded-opentype'),
      url('./fonts/vaweb-light.ttf') format('truetype'),
      url('./fonts/vaweb-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #222831;
  --grey: #30475e;
  --orange: #f2a365;
  --white: #ececec;
}

html { font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'vaweb-light';
  font-size: 1.6rem;
  font-weight:normal;
  font-style:normal;
}
h1 { font-size: 2.8rem; }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

#app {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  width: 100vw;
  height: 100vh;
}

/* We shouldn't have to do this
 it is better to overflow with scroll x
*/
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

header {
  position: sticky;
  display: grid;
  grid-template-areas: 'logo title nav';
  grid-template-columns: 1fr 4fr 3fr;
  align-content: center;
  background-color: var(--grey);
  align-items: center;
  color: var(--white);
  padding: 20px 20px 0;
}

main {
  display: grid;
  gap: 1.5rem;
  overflow: scroll;
  padding: 1rem;
  width: 100vw;
}

main p {
  margin: 1.4rem 0;
}

main ul {
  margin-left: 1.4rem;
  list-style: disc;
}

nav {
  display: grid;
  align-content: center;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  list-style: none;
}


@media (max-width: 700px) {
  #app {
    grid-template-rows: 1fr 6fr 1fr;
  }
  header {
    display: grid;
    grid-template-areas:
    'logo title'
    'nav nav';
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr ;
  }

}
